*,
*::before,
*::after {
    box-sizing: border-box;
    transform-style: preserve-3d;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: #fff;
    
}

li{
    list-style: none;
}
