body {
    width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

header {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    padding: 38px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.nav_bar_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    font-size: 32px;
    line-height: 48px;
}

.logo-part_2 {
    font-weight: 700;
    color: #18CFAB;
}

.hexagon {
    /* это многоугольник в хедере */
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    line-height: 31px;
    margin-right: 20px;
    position: relative;
}


.hexagon::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -6px;
    left: -12px;
    width: 58px;
    height: 67px;
    background-color: #18CFAB;
    clip-path: polygon(50% 0%, 100% 23%, 100% 73%, 50% 100%, 0 73%, 0 23%);

}

.nav_menu li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.nav_menu_item {
    opacity: .6;
}

.nav_menu_item:hover::after {
    content: "";
    border-bottom: 3px solid #18CFAB;
    width: 100%;
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
    transition: .5s;
    color: #18CFAB;
}

.nav_menu_item:hover {
    color: #18CFAB;
    opacity: 1;
}

.bg {
    background-image: url(../images/background/section-1\(header\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1012px;
    position: relative;
    opacity: .8;
    z-index: -3;
}

.about_us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_page {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.title_page_blue {
    color: #18CFAB;

}

.about_us_title {
    font-weight: 700;
    font-size: 78px;
    color: #fff;
    text-transform: uppercase;
    width: 798px;
    margin: 22px auto;
}

.about_us_text {
    font-size: 34px;
    color: #D4D4D4;
    text-transform: capitalize;
    margin: 0;
}

.button {
    width: 169px;
    height: 63px;
    margin-top: 130px;
    border-radius: 5px;
    border: none;
    position: relative;
    cursor: pointer;
    box-shadow: 0 -5px 0 #fff;
}

.btn_text {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.btn_left {
    background-color: #18CFAB;
}

.btn_right {
    background-color: #00CBF6;
    margin-left: 26px;
}

.option_list {
    /* это блок с квадратами*/
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 377px;
    padding: 0;
    text-align: center;
    margin: 8px 0 83px;

}

.option_item {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 8px 0;
    width: 482px;
    height: 377px;
    position: relative;
}

.option_item:nth-child(1):before {
    content: "";
    background-image: url(../images/icons/finger_icon.svg);
    position: absolute;
    width: 58px;
    height: 97px;
    top: 87px;
    left: calc((482 - 58)/2);
}

.option_item:nth-child(2):before {
    content: "";
    background-image: url(../images/icons/crystal_icon.svg);
    position: absolute;
    width: 93px;
    height: 75px;
    top: 98px;
    left: calc((482 - 93)/2);
}

.option_item:nth-child(3):before {
    content: "";
    background-image: url(../images/icons/lamp_icon.svg);
    position: absolute;
    width: 60px;
    height: 96px;
    top: 87px;
    left: calc((482 - 60)/2);
}

.option_item:nth-child(4):before {
    content: "";
    background-image: url(../images/icons/phone_icon.svg);
    position: absolute;
    width: 99px;
    height: 76px;
    top: 97px;
    left: calc((482 - 99)/2);
}

.option_item_odd {
    background-color: #1C2A33;
}

.option_item_even {
    background-color: #18CFAB;
}

.option_text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 110px;
}

.option_text_odd {
    color: #18CFAB;
}

.option_item_even {
    /* здесь блок с квадратами завершен */
    color: #fff;
}

.subtitle {
    font-size: 36px;
    display: block;
    text-align: center;
    color: #4E4E4E;
    font-weight: 400;
    margin: 0;
    position: relative;
}

.subtitle::before {
    /* это маленькие голубые полоски под подзаголовками*/
    content: "";
    position: absolute;
    width: 80px;
    border-bottom: 1px solid #18CFAB;
    color: #18CFAB;
    top: 0;
    left: 0;
    right: 0;
    bottom: -26px;
    margin: 0 auto;
}

.subtitle::after {
    content: "";
    position: absolute;
    width: 80px;
    border-bottom: 1px solid #18CFAB;
    color: #18CFAB;
    top: 0;
    left: 0;
    right: -11px;
    bottom: -30px;
    margin: 0 auto;
}

.our_services_list {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    margin-bottom: 0;
    gap: 5px;
    padding: 0;
}

.our_services_item {
    display: flex;
    border: 1px solid #F2F2F2;
    width: 193px;
    height: 72px;
    align-items: center;
    justify-content: center;
    background-color: #F8FCFE;
    margin-bottom: 23px;
    color: #717171;
    cursor: pointer;
}

.our_services_item:hover {
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
}

.our_services_item_click {
    /*бирюзовый цвет на табе при клике*/
    background-color: #18CFAB;
    color: #fff;
    position: relative;
    border: none;
}

.our_services_item_click::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 15px;
    bottom: -14px;
    clip-path: polygon(100% 0, 0 0, 50% 50%);
    background-color: #18CFAB;
}

.our_services_item_click:hover {
    color: #717171;
}

.our_services_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}


.disactive {
    /* табы */
    display: none;
}

.active {
    display: flex;
}

.our_services_text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: left;
    margin-left: 15px;
}

.just_install {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background/section-2.jpg);
    height: 476px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.just_install_title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
    font-size: 40px;
    color: #18CFAB;
    margin: 0;
}

.just_install_text {
    color: #D8D8D8;
    margin-top: 12px;
}

.button_just_install {
    margin-top: 67px;
}

.wrap_install {
    position: absolute;
    width: 1160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our_amazing_work {
    background-color: #E9EDEF;
    padding: 95px 0;
}

.amazing_work_list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.amazing_work_item {
    display: flex;
    border: 1px solid #DADADA;
    color: #717171;
    padding: 14px 20px;
    width: auto;
    height: 58px;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
    cursor: pointer;
    position: relative;
}

.btn:active {
    bottom: -1px;
}

.click,
.amazing_work_item:hover {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.amazing_work_foto {
    /* секция с фото */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1160px;
    margin: 70px 0;
    padding: 0;
}


.amazing_foto_item {
    display: flex;
    position: relative;
    overflow: hidden;

}


.amazing_foto_item_hidden {
    display: none;
}


.hide {
    /* анимация для фото */
    display: block;
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 211px;
        min-height: 0;
    }

    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        font-size: 0;
    }
}

.amazing_hidden_block {
    /*это скрытый блок который появляется при наведении на фотку*/
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 211px;
    background-color: #E9EDEF;
    display: none;
}

.amazing_hidden_block::before {
    /*полоска в скрытом блоке*/
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #18CFAB;
    transition: .5s;
    top: 0;
    left: 0;
}

.amazing_foto_item:hover .amazing_hidden_block {
    display: block;
}

.circle_wrap {
    width: 290px;
    height: 211px;
    position: relative;
}


.circle_btn {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    background-color: transparent;
}

.circle_left {
    position: absolute;
    top: 46px;
    left: 102px;
    background-image: url(../images/icons/Combined\ shape\ 7431.svg);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.circle_right {
    position: absolute;
    top: 46px;
    left: 148px;
    background-image: url(../images/icons/Layer\ 23.svg);
    background-color: #18CFAB;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
}

.circle_left:hover {
    background-image: url(../images/icons/Layer\ 23.svg);
    background-color: #18CFAB;
}

.circle_right:hover {
    background-image: url(../images/icons/Combined\ shape\ 7431.svg);
    background-color: transparent;
}

.hidden_text_wrap:hover::before {
    display: none;
}

.hidden_block_category {
    font-weight: 300;
    font-size: 12.5px;
    color: #8A8A8A;
    margin: 0;
    position: absolute;
    top: 135px;
    left: 109px;
}

.hidden_text_wrap {
    width: 290px;
    height: 211px;
    margin: 0;
    position: relative;
}

.hidden_block_logo {
    /*это текст CREATIVE DESIGN*/
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    margin: 0;
    position: absolute;
    top: 112px;
    left: 78px;
}

.our_amazing_button {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border: none;
    border-radius: 5px;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
}

.our_amazing_button::before {
    content: ' ';
    background-image: url(../images/icons/Forma_1.png);
    position: absolute;
    top: 22px;
    left: 23px;
    width: 16px;
    height: 18px;
}

input[value="none"] {
    color: transparent
}

.breaking_news {
    /*секция breaking_news*/
    padding-top: 82px;
    padding-bottom: 128px;
}

.breaking_news_list {
    margin-top: 70px;
    display: flex;
    width: 1160px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

}

.breaking_news_item {
    position: relative;
}

.breaking_news_item:hover .breaking_item_title {
    color: #18CFAB;
}

.breaking_news_item:hover .breaking_news_date {
    background-color: #18CFAB;
}

.breaking_news_date {
    position: absolute;
    margin: 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    right: 0;
    background-color: #203E38;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.breaking_item_title {
    color: #717171;
    font-weight: 700;
    margin: 0;
    text-align: start;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 25px;
}

.breaking_item_text {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    float: left;
    margin-left: 5px;
    margin-bottom: 35px;
}

.client_feedback {
    /*секция отзывов*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background/section-3.jpg);
    height: 854px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 98px;
    z-index: -2;
    position: relative;
}

.white_subtitle {
    color: #FFFFFF;
    margin-bottom: 168px;
    position: relative;
}

.client_feedback_text {
    font-weight: 300;
    width: 1160px;
    line-height: 30px;
    color: #BBBBBB;
    margin: 20px auto;
    text-align: center;
    position: relative;
}



.client_feedback::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 31px;
    top: 220px;
    right: 48%;
}

.client_name {
    color: #18CFAB;
    text-transform: uppercase;
    line-height: 27px;
    text-align: center;
    font-weight: 700;
    display: block;
    margin-top: 37px;
}

.client_status {
    font-weight: 300;
    color: #BBBBBB;
    text-align: center;
    font-size: 13px;
    display: block;
    line-height: 27px;
    margin-bottom: 38px;
}

.client_photo_wrap {
    width: 142px;
    height: 142px;
    margin: 0 auto;
}

.client_photo {
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgb(31, 218, 181, 0.2);
}

.client_photos_list {
    display: flex;
    justify-content: center;
    margin-top: 57px;
    margin-bottom: 0;
    padding: 0;
    align-items: center;
    gap: 38px;
}

.arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    background-color: transparent;
    padding: 0;
}

.left {
    position: absolute;
    bottom: 20px;
    left: 350px;
    background-image: url(../images/icons/arrow_left.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.right {
    position: absolute;
    bottom: 20px;
    right: 350px;
    background-image: url(../images/icons/arrow_left.png);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
}

.arrow:hover {
    background-color: #18CFAB;
}

.left:hover {
    background-image: url(../images/icons/white_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.right:hover {
    background-image: url(../images/icons/white_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(0deg);
}



.client_little_photo {
    border-radius: 50%;
    position: relative;
    background-size: cover;
    box-shadow: 0 0 0 5px rgb(31, 218, 181, 0.2);
}

input[value="0"] {
    color: transparent
}



.footer {
    height: 121px;
    background-color: #22353F;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #AEAEAE;
}

.footer_ham {
    color: #18CFAB;
}

.active_block {
    display: block;
    margin: auto;
}



.slider_wrap {
    width: 1160px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 57px;
    margin: 20px auto;
    position: relative;
    top: -25px;

}

.slide {
    position: absolute;
    opacity: 0;
}

.curry {
    display: block;
    width: 1160px;
    opacity: 0;
    transition: 2s;
    animation: curry 2s ease;
    animation-fill-mode: forwards;

}

@keyframes curry {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}


.animeted_photo {
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgb(31, 218, 181, 0.2);
    width: 143px;
    height: 142px;
    animation: animate 1s ease-out;
}

@keyframes animate {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.preview {
    bottom: 10px;
}

.img_wrap {
    position: relative;
}

/* последняя секция */

.gallery_images {
    padding: 108px 0 80px;
}

.grid_wrap {
    margin: 83px 0 52px;

}

.grid {
    width: 100%;
    height: auto;
}

.grid_item {
    width: 378px;

}


.first {
    width: 378px;

}

.second {
    width: 185px;


}

.second_height {
    height: 170px;
}

.third {
    width: 122px;
}

.fourth {
    width: 176px;
}

/* далее имитация загрузки */

.middle {
    margin: 40px auto;
    text-align: center;

}

.bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: transparent;
    }

    50% {
        transform: scaleY(1);
        background: rgb(24, 207, 171);
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}